* {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: black;
  font-size: 16px;
  background: url(/assets/pat-whelen-cHvyUM-kXoA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}
h1 {
  font-size: 3rem;
}

button {
  margin-top: 3%;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.wrapper_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 15%;
  color: white;
}
#quoteDisplay {
  font-size: 1.8rem;
  font-weight: bold;
}
